:root {
    --purple: #3621B9;
    --mint: #00FFA3;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

/* ##################################### body ##################################### */
body {
    margin: auto;
    background-image: url("../images/zebra.png");
}

/* ##################################### header ##################################### */
header {
    background-color: var(--purple);
    padding: 4em;
}

h1 {
    font-size: 5rem;
    color: var(--mint);
    font-weight: 800;
    margin: 0;
}

h3 {
    color: white;
    font-size: 1em;
    font-weight: 100;

}

a {
    color: var(--mint);
}

/* ##################################### gallery/main ##################################### */
#col2 {
    padding: 3%;
    color: white;
}

#gallery .btn {
    color: white !important;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--purple);
    border-radius: 30px;
}


/* ##################################### mascot bubble speech ##################################### */
p.bubble {
    position: relative;
    max-width: 300px;
    width: 90%;
    text-align: center;
    line-height: 1.4em;
    margin: 80px 100px auto;
    background-color: white;
    border: 8px solid black;
    border-radius: 30px;
    padding: 20px;
    font-size: large;
}

p.bubble:before,
p.bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

p.speech:before {
    left: 190px;
    bottom: -50px;
    border: 25px solid;
    border-color: black transparent transparent black;
}

p.speech:after {
    left: 200px;
    bottom: -29px;
    border: 15px solid;
    border-color: white transparent transparent white;
}


/* ##################################### mascot img ##################################### */

#mascot-image {
    max-width: 80%;
    /* margin-bottom: 2em; */
}

/* ##################################### instructions paragraph ##################################### */
.instructions p {
    font-size: 20px;
    margin: 30px auto;
}



/* ##################################### cards container ##################################### */
.container {
    text-align: center;
}

.card {
    background-color: white;
    align-items: center;
}


/* ##################################### footer ##################################### */
footer {
    text-align: center;
    background-color: var(--purple);
    padding: 1rem;
    color: white;
}

.copywrite {
    text-align: center;
    width: 100%;
}


@media only screen and (max-width: 870px) {
    h1 {
        font-size: 3em;
    }

    #mascot-image {
        max-height: 200px;
    }

    footer {
        font-size: 12px;
    }
}
